$clr-purple: hsl(259, 100%, 65%);
$clr-red: hsl(0, 100%, 67%);

$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-200: hsl(0, 0%, 94%);
$clr-neutral-300: hsl(0, 0%, 86%);
$clr-neutral-400: hsl(0, 1%, 44%);
$clr-neutral-500: hsl(0, 0%, 8%);


